body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #fff;
  color: #111;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn {
  background: #00ff66;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5rem;
}
